.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main{
  margin-right: 4rem;
  margin-left: 4rem;
  margin-top: 50px;
}

.input-group{
  padding: 10px 0 10px 0;
}

.texto{
  height: 30px;
  border-radius: 10px;
  border-color: cornflowerblue;
  border-width: 2px;
  border-style: inset;
  padding: 1px 5px 1px 7px;
  width: 80%;
}

input.texto:read-only{
  background-color: lightgray;
}

.btn{
  text-decoration: none;
  padding: 15px;
  margin: 10px;
  font-size: larger;
  display: inline-block;
  cursor: pointer;
  border: none;
}

.btn-s{
  text-decoration: none;
  padding: 5px;
  margin: 5px;
  font-size: small;
  display: inline-block;
  cursor: pointer;
  border: none;
  line-height: 18px;
}

.btn-link{
  background-color: darkblue;
  color: whitesmoke;
}

.btn-link:hover{
  background-color: #2626e2;
}

.btn-cancel{
  background-color: crimson;
  color: whitesmoke;
}

.btn-cancel:hover{
  background-color: #ef4e6c;
}

.btn-accept{
  background-color: mediumseagreen;
  color: whitesmoke;
}

.btn-accept:hover{
  background-color: #68dc7c;
}

.table {
  width: 100%;
}

.table th{
  background-color: cadetblue;
  color: white;
}

.table tr:hover{
  background-color: lightcyan;
}

.noti-warning{
  font-weight: bold;
  margin: 7px 0 7px 0;
  list-style: square;
}
.noti-warning li{
  color: darkblue;
}